body {
    background-color: #ff9dca!important;
}
h2{
    text-align: center !important;
}
#logo{
    width: 100px;
}
.paddingrow{
    border-radius: 10px;
    background-color: white;
    padding: 4%;
    margin: 1% 3%;
    text-align: center;
}
#ricercabtn{
    width:90%;
    margin-top:2%;
}
.z-indexprop{
    z-index:10;
}
.figurtitle{
    width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    text-align: center;
    left: 10%;
}
.figure{
    border: solid 1px black;
}
.figure-caption {
    background-color: black;
    font-size: 90%;
    color: #000000;
    color: white;
    padding: 5px;
}
i{
    padding:3%;
}
li.nav-item {
    font-size: x-large;
    margin-left: 15%;
    border-bottom: solid 1px
}
li.nav-item a:hover{
    color: white !important;
    background-color: black;
    opacity: 0.6;
    border: none;
    border-radius: 5px;
}
.carousel-caption.d-none.d-md-block {
    margin-bottom :5%;
    opacity: 0.6;
    background-color: black;
    color: white;
    font-size: x-large;
    border-radius: 20px;
}

.errore{
    margin-left:1%;
 color: red;
  display: none;
}
.successo{
    width: 20%;
    color: green;
    display: none;
}
.adminBtn{
	width:80%;
	float:left;
}
#jqueryDiv{
	position:absolute;
	top:1%;
	left:5%;
	color:#fff;
	background-color:green;
	border-radius:10px;
	padding:5px;
	display: none;
}
.navCustom li{
margin:0;
font-size:small;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #1000ff;
    border-color: #dee2e6 #dee2e6 #fff;
}
a.nav-link{
	color: #232323;
}